@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

*,
body,
html {
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100%;
	display: flex;
	flex-flow: column;
	background-color: var(--color-bg);
	font-optical-sizing: auto;
	font-weight: var(--font-weight-normal);
	font-style: normal;
	color: var(--color-main-text);
}

:root {
	--color-bg: white;
	--color-main-text: rgb(77, 95, 131);
	--color-light-text: rgb(183, 190, 206);
	--color-light-grey: rgb(237, 240, 247);
	--color-dark-grey: rgb(214, 218, 226);
	--color-border: rgb(189, 193, 206);
	--color-box-shadow: rgba(193, 194, 202, 0.5);
	--color-blue: #2140dd;
	--color-green: #2dbf7b;
	--color-red: #ea5979;
	--color-yellow: rgb(255, 244, 43);
	--color-orange: #ff8a2b;
	--color-magenta: rgb(222, 89, 234);
	--color-glass-bg: rgba(255, 255, 255, 0.5);
	--color-hover: rgb(77, 95, 131);

	--box-shadow: 1px 1px 5px 1px var(--color-box-shadow);

	--font-weight-bold: 700;
	--font-weight-normal: 400;
	--font-size-normal: 14px;
	--font-size-small: 12px;
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

[data-theme="dark"] {
	--color-bg: #0b1220;
	--color-main-text: rgb(221, 225, 235);
	--color-dark-grey: rgb(56, 64, 82);
	--color-light-grey: rgb(37, 43, 54);
	--color-border: rgb(99, 106, 134);
	--color-box-shadow: rgba(39, 40, 46, 0.5);
	--color-glass-bg: rgba(80, 80, 80, 0.3);
	--color-hover: rgb(105, 124, 165);
}

button,
input {
	font-family: inherit;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

a {
	text-decoration: none;
	color: inherit;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

main {
	padding: 5.5rem 2rem 3.5rem 2rem;
	flex: 1;
	display: flex;
	flex-flow: column;
	position: relative;
}

select {
	font-family: inherit;
	font-size: var(--font-size-normal);
	color: inherit;
	background-color: var(--color-dark-grey);
	border: 1px solid transparent;
}

select:focus {
	outline: none;
	border-color: var(--color-border);
}

select option:checked {
	background: var(--color-hover);
	color: white;
}

select option:hover {
	background: var(--color-hover);
}

code {
	color: var(--color-orange);
}

.scrollable {
	overflow-y: auto;
}

.scrollable::-webkit-scrollbar {
	width: 5px;
}

.scrollable::-webkit-scrollbar-track {
	background: var(--color-light-grey);
	border: 1px solid var(--color-border);
	box-sizing: border-box;
}

.scrollable::-webkit-scrollbar-thumb {
	background-color: var(--color-green);
}

h1 {
	font-size: 24px;
	line-height: 24px;
	border-left: 3px solid var(--color-green);
	padding-left: 10px;
}

h2 {
	font-size: 20px;
	margin-top: 14px;
}

h2 span {
	color: var(--color-green);
	margin-right: 10px;
	font-weight: 700;
}

h3 {
	font-size: 16px;
	margin-top: 10px;
}

h4 {
	font-size: 14px;
	margin-top: 8px;
}

table {
	background: var(--color-light-grey);
}

thead {
	background-color: var(--color-dark-grey);
	height: 2rem;
}

th {
	text-align: left;
	padding: 0 4px;
}

tr:hover {
	background-color: var(--color-dark-grey);
}

td {
	padding: 2px 4px;
	vertical-align: middle;
	gap: 2px;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
}

.live-tag {
	padding: 0px 2px;
	color: white;
	text-transform: uppercase;
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
}

.live-tag.live {
	background-color: var(--color-green);
}

.live-tag.off {
	background-color: var(--color-dark-grey);
}

.live-tag.pre {
	background-color: var(--color-magenta);
}

.delay-indicator {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: 1px solid var(--color-border);
	position: absolute;
	left: -10px;
	top: 50%;
	transform: translateY(-50%);
	background: rgb(141, 141, 141);
}

.delay-indicator.green {
	background-color: var(--color-green);
}

.delay-indicator.yellow {
	background-color: var(--color-yellow);
}

.delay-indicator.red {
	background-color: var(--color-red);
}

@keyframes blink {
	0%,
	50%,
	100% {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0;
	}
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
	}
  body {
    @apply bg-background text-foreground;
	}
}
