#multi-panel {
	display: flex;
	flex-flow: column;
	gap: 10px;
}

.mini-panel-container {
	background-color: var(--color-bg);
	box-shadow: var(--box-shadow);
}

.mini-panel-header {
	display: flex;
	height: 24px;
	gap: 5px;
}

.mini-panel-id {
	line-height: 24px;
	background-color: var(--color-blue);
	color: white;
	padding: 0 0.5rem;
	font-weight: var(--font-weight-bold);
}
.mini-panel-tags {
	display: flex;
	gap: 5px;
}

.mini-panel-tag {
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-bold);
	padding: 0px 4px;
	line-height: 1.5rem;
}

.mini-panel-tag.r {
	background-color: var(--color-red);
	color: var(--color-bg);
}

.mini-panel-tag.g {
	background-color: var(--color-green);
	color: var(--color-bg);
}

.mini-panel-single-view {
	background-color: var(--color-green);
	width: 1.5rem;
	height: 1.5rem;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mini-panel-close {
	background-color: var(--color-red);
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mini-panel-title {
	display: flex;
	align-items: center;
	gap: 8px;
}

.mini-panel-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	aspect-ratio: 1 / 1;
	background-color: var(--color-bg);
	box-sizing: border-box;
}

.mini-panel-icon p,
.mini-panel-icon span {
	font-weight: var(--font-weight-bold);
	font-size: 1rem;
	line-height: 1rem;
}

.mini-panel-content {
	display: flex;
	flex-flow: column;
}

.mini-panel-pilot-route {
	display: flex;
	justify-content: space-between;
}